SECRET_KEY=change-this-to-a-random-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3
SITE_URL=http://127.0.0.1:8000
CLINIC_PHONE=+380501234567
CLINIC_EMAIL=info@smiledent.ua
CLINIC_ADDRESS=м. Київ, вул. Хрещатик, 1
CLINIC_LAT=50.4501
CLINIC_LNG=30.5234
